{% extends 'base.html.twig' %}

{% block title %}Sequences{% endblock %}

{% block body %}
    <h1>Sequences for session "{{ session.name }}"</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Creation date</th>
                <th>Patches</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sequence in sequences %}
            <tr>
                <td>
                    <kbd>{{ sequence.name }}</kbd>
                </td>
                <td>{{ sequence.dateCreation ? sequence.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    {{ sequence.patches|length }}
                </td>
                <td class="actions">
                    <a class="btn btn-primary" href="{{ path('sequence_show', {'session': session.id, 'id': sequence.id}) }}">Show</a>
                    <a class="btn btn-info" href="{{ path('sequence_edit', {'id': sequence.id}) }}">Edit</a>
                    {{ include('sequence/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('session_upload', {'id': session.id}) }}" class="btn btn-warning">Upload</a>
{% endblock %}
