{% extends 'base.html.twig' %}

{% block title %}Sequence{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
    var untag_url = "{{ path('untag_patch') }}";
</script>
<script type="text/javascript" src="{{ asset('js/untag.js') }}"></script>
{% endblock %}

{% block body %}
    {% if consensus %}
        <a class="btn btn-primary float-right" href="{{ path('sequence_show', {'id': sequence.id, 'consensus': 0, 'display': display}) }}">Show all</a>
    {% else %}
        <a class="btn btn-primary float-right" href="{{ path('sequence_show', {'id': sequence.id, 'consensus': 1, 'display': display}) }}">Only with consensus</a>
    {% endif %}

    <h1>Sequence "{{ sequence }}"</h1>
    <a href="{{ path('sequence_index', {'session': sequence.session.id}) }}">&laquo; back to list</a>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ sequence.name }}</td>
            </tr>
            <tr>
                <th>Date creation</th>
                <td>{{ sequence.dateCreation ? sequence.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Patches</th>
                <td>
                    {{ sequence.patches|length }}
                </td>
            </tr>
        </tbody>
    </table>

    {% for category, patchesInfo in patches %}
    <hr/>
    <div>
        <h3>
            {{ patchesInfo.count }} patches for category "{{ category }}"
            <a href="{{ path('sequence_delete_category', {categoryName: category, session: sequence.session.id, sequence: sequence.id}) }}" onclick="return confirm('Are you sure?')" class="confirm float-right btn btn-danger">Remove</a>
        </h3>
        {% if display == category %}
            {% include 'patchesInfo.html.twig' %}
        {% else %}
            <a class="btn btn-success" href="{{ path('sequence_show', {'id': sequence.id, 'consensus': consensus, 'display': category}) }}">Display</a>
        {% endif %}
    </div>
    {% endfor %}

    <hr/>
    <a class="btn btn-info" href="{{ path('sequence_edit', {'id': sequence.id}) }}">Edit</a>
    <hr/>

    {{ include('sequence/_delete_form.html.twig') }}
{% endblock %}
