{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <h1>Categories</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Patches</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>
                    <kbd>{{ category.name }}</kbd>
                </td>
                <th>{{ category.patches }}</th>
                <td class="actions">
                    <a class="btn btn-info" href="{{ path('category_edit', {'id': category.id}) }}">Edit</a>
                    {{ include('category/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('category_new') }}">Create new</a>
{% endblock %}
