{% extends 'base.html.twig' %}

{% block title %}Sessions{% endblock %}

{% block body %}
    <h1>Sessions</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="large-td">Name</th>
                <th>Creation date</th>
                <th>Patches</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for session in sessions %}
            <tr {% if not session.enabled %}class="disabled"{% endif %}>
                <td class="large-td">
                    {{ session.name }}
                    {% if not session.enabled %}
                    (disabled)
                    {% endif %}
                </td>
                <td>{{ session.date_creation ? session.date_creation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ session.patches }}</td>
                <td class="actions">
                    <div>
                        <a class="btn btn-primary" href="{{ path('sequence_index', {'session': session.id}) }}">{{ session.sequences }} sequence(s)</a>
                        <a class="btn btn-info" href="{{ path('session_edit', {'id': session.id}) }}">Edit</a>
                        <a class="btn btn-warning" href="{{ path('session_upload', {'id': session.id}) }}">
                            Upload
                        </a>
                        {{ include('session/_delete_form.html.twig') }}
                        <a class="btn btn-danger" href="{{ path('session_untag', {'id': session.id}) }}" onclick="return confirm('Remove tags?')">
                            Untag
                        </a>
                        <a class="btn btn-info" href="{{ path('session_toggle', {'id': session.id}) }}">
                            {% if session.enabled %}
                            Disable
                            {% else %}
                            Enable
                            {% endif %}
                        </a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('session_new') }}">Create new</a>
{% endblock %}
