<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="favicon" type="image/icon" href="{{ asset('favicon.ico') }}" />
        <title>{% block title %}Tagger{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        {% endblock %}
    </head>
    <body>
        {% include 'menu.html.twig' %}

        <div class="container body-container">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
