
{% for value, patches in patchesInfo.patches %}
<h4>Value: {{ value }} ({{ patches|length }} patches)</h4>
{% for patch in patches %}
<img class="mini-patch {% if patch.consensus %}mini-patch-consensus{% endif %}" rel="{{ patch.id }}" title="{% if patch.votes %}{{ patch.votes }} tag(s), consensus={{ (100*patch.bestValueTags/patch.votes)|round }}%{% else %}no tag{% endif %}" style="width:64px; height:auto" src="{{ asset(patch.filename) }}" />
{% else %}
<div class="alert alert-danger">
    No patch for this value
</div>
{% endfor %}
{% endfor %}
