{% extends 'base.html.twig' %}

{% block title %}Tagging{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('js/tagger.js') }}"></script>
{% endblock %}

{% block body %}

<h2>Tagging {{ category.name }} (<span class="contributions">?</span>)</h2>

<script>
// Informations for the tagger scripts
var training = {{ app.user.isTrainedFor(category) ? 0 : 1 }};
var patches_url = '{{ path('tag_patches', {'category': category.id}) }}';
var send_url = '{{ path('tag_send', {'category': category.id}) }}';
var review_url = '{{ path('tag_review', {'category': category.id}) }}';
var cancel_url = '{{ path('tag_cancel', {'category': category.id}) }}';
var to_tag = {{ toTag }};
var to_tag_user = {{ toTagUser }};
var to_tag_user_no_consensus = {{ toTagUserNoConsensus }};
var to_tag_team = {{ toTagTeam }};
var patches_col = {{ app.user.patchesCol }};
var patches_size = {{ app.user.patchesSize }};
var train_progress = {{ app.user.trainProgress(category) }};
</script>

<div class="tag-zone">
</div>

<div class="tag-actions">
    <a href="#" class="btn btn-danger tag-cancel cancel-last">Cancel last tags</a>
    <a href="#" class="btn btn-success tag-ok">OK</a>
</div>

<div class="alert alert-success not-shown tag-well-done">
    <h2>Well done</h2>

    {% if app.user.isTrainedFor(category) %}
        You did everything you can regarding the tagging for {{ category.name }}
    {% else %}
        You are now trained!<br/>

        <a class="btn btn-success btn-tag" href="{{ path('tag', {'category': category.id}) }}">
            Start tagging {{ category.name }}!
        </a>
    {% endif %}
</div>

<img width="0" height="0" src="{{ asset('css/img/ok.png') }}" class="invisible" />
<img width="0" height="0" src="{{ asset('css/img/question.png') }}" class="invisible" />

<hr/>

<div class="row">
    <div class="col-sm-2 progress-label" style="text-align:center">
        <b>Images you tagged:</b>
    </div>

    <div class="col-sm-10">
        <div class="progress tag-progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 0%">
                <span>0%</span>
            </div>
        </div>
    </div>
</div>

<div class="row team-progress-row">
    <div class="col-sm-2" style="text-align:center">
        <b>Consensus in set:</b>
    </div>
    <div class="col-sm-10">
        <div class="progress tag-team-progress">
            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 0%">
                <span>0%</span>
            </div>
        </div>
    </div>
</div>

<hr/>

{% endblock %}
